#footer {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 50px 0px;
    z-index: 5;
    font-size: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #292929;
    flex: 1 1 auto;
    height: 70vh;
}

#inner-footer {
    text-align: left;
    max-width: 1000px;
    width: 100%;
}

#footer ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: 0;
}

#footer ul li a {
    color: #79affa;
    text-decoration: none;
    margin: 0px 20px;
}

#footer ul li a:hover {
    text-decoration: underline;
}

#footer hr {
    margin: 20px 0px;
}

#footer p {
    margin-top: 50px;
    margin-left: 20px;
}