logo-slider {

    display: flex;
    transition: 5s linear;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px 0 10px;
    z-index: 200;

    left: 50%;
    position: sticky;
    bottom: 10px;
    margin-top: 200px;
    right: 50%;
    align-self: flex-end;

    div {
        display: flex;
        height: 70px;
        min-height: 50px;
        bottom: 20px;
        transition: all 0.3s ease;
        animation: marquee 50s linear infinite;
    }

    &:hover div {
        animation-play-state: paused;
    }

    img {
        margin: 0px 10px;
        transition: all 0.25s;
        height: 100%;
        border-radius: 7px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }

    img:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }

    }

}